# data analysis libraries
numpy
pandas

# broker API libraries
ccxt

# web frameworks
fastapi

# db utils
sqlmodel
SQLAlchemy

# servers
uvicorn
gunicorn

# networking
httpx
websocket-client
websockets