# data analysis libraries
numpy
pandas

# broker API libraries
ccxt
pybit

# web frameworks
fastapi

# db utils
sqlmodel
SQLAlchemy
redis

# servers
uvicorn
gunicorn

# networking
httpx
websocket-client
websockets